# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [82]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests

# Import API key
from api_keys import geoapify_key

In [83]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../WeatherPy/output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,show low,34.2542,-110.0298,3.38,89,75,3.09,US,1672365128
1,1,aksu,41.1231,80.2644,-7.52,61,100,0.78,CN,1672365391
2,2,miri,4.4148,114.0089,26.76,88,40,3.09,MY,1672365392
3,3,kribi,2.9500,9.9167,26.34,84,100,2.10,CM,1672365392
4,4,vila,42.0304,-8.1588,9.49,96,100,5.01,PT,1672365393

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [84]:
%%capture --no-display

# Configure the map plot
humidity_map = city_data_df.hvplot.points(x='Lng', y='Lat', size = "Humidity", geo = True, tiles = "OSM", 
                                  frame_width = 800, frame_height = 600, color = "City")



# Display the map
hvplot.show(humidity_map)

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [85]:
# Narrow down cities that fit criteria and drop any results with null values

# Narrow down cities that fit criteria
ideal_cities = city_data_df[(city_data_df["Max Temp"] >= 15) & (city_data_df["Max Temp"] <= 26) &\
                            (city_data_df["Humidity"] >= 40) & (city_data_df["Humidity"] <= 70) &\
                            (city_data_df["Wind Speed"] <= 10) & (city_data_df["Cloudiness"] <= 20)]

# Drop any rows with null values
ideal_cities = ideal_cities.dropna()

# Display sample data
ideal_cities

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
9,9,turbat,26.0023,63.0440,15.50,42,0,7.75,PK,1672365397
10,10,new norfolk,-42.7826,147.0587,22.06,40,0,1.34,AU,1672365398
14,14,reconquista,-29.1500,-59.6500,23.63,50,0,1.60,AR,1672365400
15,15,cidreira,-30.1811,-50.2056,19.51,63,0,2.78,BR,1672365401
40,40,cape town,-33.9258,18.4232,16.72,58,0,6.26,ZA,1672365244
80,80,jangaon,17.7167,79.1833,21.02,67,5,0.79,IN,1672365450
90,90,geraldton,-28.7667,114.6000,25.23,69,0,6.69,AU,1672365458
96,96,port lincoln,-34.7333,135.8667,18.62,58,3,6.35,AU,1672365462
106,106,kaitangata,-46.2817,169.8464,15.53,50,9,4.85,NZ,1672365469
131,131,bako,5.7833,36.5667,17.65,55,20,1.96,ET,1672365489
158,158,bagh,22.3667,74.7667,18.16,41,0,1.00,IN,1672365509
222,222,jiwani,25.0500,61.7417,18.49,44,0,8.12,PK,1672365559
239,239,comodoro rivadavia,-45.8667,-67.5000,17.92,42,0,1.03,AR,1672365572
251,251,bucerias,20.7500,-105.3333,20.21,65,13,1.87,MX,1672365322
258,258,kaeo,-35.1000,173.7833,23.73,57,3,2.83,NZ,1672365585
261,261,victoria,22.2855,114.1577,15.69,67,5,5.36,HK,1672365588
287,287,sur,22.5667,59.5289,21.45,54,0,7.42,OM,1672365606
320,320,kassala,15.4510,36.4000,20.09,68,5,2.39,SD,1672365636
346,346,victor harbor,-35.5667,138.6167,25.38,68,0,0.45,AU,1672365658
351,351,ahipara,-35.1667,173.1667,22.91,63,0,4.66,NZ,1672365662
400,400,saint-pierre,-21.3393,55.4781,23.28,68,0,2.06,RE,1672365644
424,424,esperance,-33.8667,121.9000,25.38,45,0,3.44,AU,1672365717
445,445,tres arroyos,-38.3739,-60.2798,17.64,43,3,3.50,AR,1672365734
465,465,camara de lobos,32.6333,-16.9667,18.40,48,20,3.60,PT,1672365748
466,466,presidencia roque saenz pena,-26.7852,-60.4388,23.51,40,2,0.59,AR,1672365749
469,469,maldonado,-34.6667,-54.9167,17.35,56,10,2.01,UY,1672365752
476,476,bhainsdehi,21.6467,77.6325,16.08,44,0,0.80,IN,1672365757
486,486,mindelo,16.8901,-24.9804,21.71,66,13,6.02,CV,1672365764
498,498,dubai,25.2582,55.3047,20.20,45,7,3.09,AE,1672365638
500,500,tuatapere,-46.1333,167.6833,16.19,47,11,3.34,NZ,1672365773
502,502,illapel,-31.6308,-71.1653,21.08,60,0,0.93,CL,1672365251
509,509,asfi,32.2994,-9.2372,16.56,53,0,3.26,MA,1672365781

### Step 3: Create a new DataFrame called `hotel_df`.

In [86]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity

# Use the Pandas copy function to create a new DataFrame called hotel_df
hotel_df = ideal_cities[["City", "Country", "Lat", "Lng", "Humidity"]].copy()

# Add an empty column, "Hotel Name," to the DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df

,City,Country,Lat,Lng,Humidity,Hotel Name
9,turbat,PK,26.0023,63.0440,42,
10,new norfolk,AU,-42.7826,147.0587,40,
14,reconquista,AR,-29.1500,-59.6500,50,
15,cidreira,BR,-30.1811,-50.2056,63,
40,cape town,ZA,-33.9258,18.4232,58,
80,jangaon,IN,17.7167,79.1833,67,
90,geraldton,AU,-28.7667,114.6000,69,
96,port lincoln,AU,-34.7333,135.8667,58,
106,kaitangata,NZ,-46.2817,169.8464,50,
131,bako,ET,5.7833,36.5667,55,
158,bagh,IN,22.3667,74.7667,41,
222,jiwani,PK,25.0500,61.7417,44,
239,comodoro rivadavia,AR,-45.8667,-67.5000,42,
251,bucerias,MX,20.7500,-105.3333,65,
258,kaeo,NZ,-35.1000,173.7833,57,
261,victoria,HK,22.2855,114.1577,67,
287,sur,OM,22.5667,59.5289,54,
320,kassala,SD,15.4510,36.4000,68,
346,victor harbor,AU,-35.5667,138.6167,68,
351,ahipara,NZ,-35.1667,173.1667,63,
400,saint-pierre,RE,-21.3393,55.4781,68,
424,esperance,AU,-33.8667,121.9000,45,
445,tres arroyos,AR,-38.3739,-60.2798,43,
465,camara de lobos,PT,32.6333,-16.9667,48,
466,presidencia roque saenz pena,AR,-26.7852,-60.4388,40,
469,maldonado,UY,-34.6667,-54.9167,56,
476,bhainsdehi,IN,21.6467,77.6325,44,
486,mindelo,CV,16.8901,-24.9804,66,
498,dubai,AE,25.2582,55.3047,45,
500,tuatapere,NZ,-46.1333,167.6833,47,
502,illapel,CL,-31.6308,-71.1653,60,
509,asfi,MA,32.2994,-9.2372,53,

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [87]:
# Set parameters to search for a hotel
radius = 10000
params = {
          "categories":"accommodation.hotel",
          "apiKey":geoapify_key# YOUR CODE HERE
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for index, row in hotel_df.iterrows():
    # get latitude, longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add filter and bias parameters with the current city's latitude and longitude to the params dictionary
    params["filter"] = f"circle:{lng},{lat},{radius}"
    params["bias"] = f"proximity:{lng},{lat}"
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"


    # Make and API request using the params dictionaty
    name_address = requests.get(base_url, params=params)
    
    # Convert the API response to JSON format
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["features"][0]["properties"]["name"]
    except (KeyError, IndexError):
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[index, "Hotel Name"] = "No hotel found"
        
    # Log the search results
    print(f"{hotel_df.loc[index, 'City']} - nearest hotel: {hotel_df.loc[index, 'Hotel Name']}")

# Display sample data
hotel_df

Starting hotel search
turbat - nearest hotel: No hotel found
new norfolk - nearest hotel: Woodbridge on the Derwent
reconquista - nearest hotel: Hotel San Martin
cidreira - nearest hotel: Hotel Castelo
cape town - nearest hotel: Townhouse Hotel
jangaon - nearest hotel: Hotel Sri Durga Bhavani Tiffins Mess & Biryani
geraldton - nearest hotel: Ocean Centre Hotel
port lincoln - nearest hotel: Boston Hotel
kaitangata - nearest hotel: Hotel South Otago
bako - nearest hotel: Goh Hotel
bagh - nearest hotel: No hotel found
jiwani - nearest hotel: No hotel found
comodoro rivadavia - nearest hotel: No hotel found
bucerias - nearest hotel: Royal Decameron Complex
kaeo - nearest hotel: No hotel found
victoria - nearest hotel: 四季酒店 Four Seasons Hotel
sur - nearest hotel: Sur Hotel
kassala - nearest hotel: No hotel found
victor harbor - nearest hotel: Hotel Victor
ahipara - nearest hotel: YHA Ahipara
saint-pierre - nearest hotel: Tropic Hotel
esperance - nearest hotel: Hospitality
tres arroyos - nearest hotel: Andrea Hotel
camara de lobos - nearest hotel: Orca Praia
presidencia roque saenz pena - nearest hotel: Hotel Presidente
maldonado - nearest hotel: No hotel found
bhainsdehi - nearest hotel: No hotel found
mindelo - nearest hotel: Solar Windelo
dubai - nearest hotel: Holiday Inn Bur Dubai - Embassy District
tuatapere - nearest hotel: No hotel found
illapel - nearest hotel: Domingo Ortiz de Rosas
asfi - nearest hotel: Golden Tulip Farah Safi

,City,Country,Lat,Lng,Humidity,Hotel Name
9,turbat,PK,26.0023,63.0440,42,No hotel found
10,new norfolk,AU,-42.7826,147.0587,40,Woodbridge on the Derwent
14,reconquista,AR,-29.1500,-59.6500,50,Hotel San Martin
15,cidreira,BR,-30.1811,-50.2056,63,Hotel Castelo
40,cape town,ZA,-33.9258,18.4232,58,Townhouse Hotel
80,jangaon,IN,17.7167,79.1833,67,Hotel Sri Durga Bhavani Tiffins Mess & Biryani
90,geraldton,AU,-28.7667,114.6000,69,Ocean Centre Hotel
96,port lincoln,AU,-34.7333,135.8667,58,Boston Hotel
106,kaitangata,NZ,-46.2817,169.8464,50,Hotel South Otago
131,bako,ET,5.7833,36.5667,55,Goh Hotel
158,bagh,IN,22.3667,74.7667,41,No hotel found
222,jiwani,PK,25.0500,61.7417,44,No hotel found
239,comodoro rivadavia,AR,-45.8667,-67.5000,42,No hotel found
251,bucerias,MX,20.7500,-105.3333,65,Royal Decameron Complex
258,kaeo,NZ,-35.1000,173.7833,57,No hotel found
261,victoria,HK,22.2855,114.1577,67,四季酒店 Four Seasons Hotel
287,sur,OM,22.5667,59.5289,54,Sur Hotel
320,kassala,SD,15.4510,36.4000,68,No hotel found
346,victor harbor,AU,-35.5667,138.6167,68,Hotel Victor
351,ahipara,NZ,-35.1667,173.1667,63,YHA Ahipara
400,saint-pierre,RE,-21.3393,55.4781,68,Tropic Hotel
424,esperance,AU,-33.8667,121.9000,45,Hospitality
445,tres arroyos,AR,-38.3739,-60.2798,43,Andrea Hotel
465,camara de lobos,PT,32.6333,-16.9667,48,Orca Praia
466,presidencia roque saenz pena,AR,-26.7852,-60.4388,40,Hotel Presidente
469,maldonado,UY,-34.6667,-54.9167,56,No hotel found
476,bhainsdehi,IN,21.6467,77.6325,44,No hotel found
486,mindelo,CV,16.8901,-24.9804,66,Solar Windelo
498,dubai,AE,25.2582,55.3047,45,Holiday Inn Bur Dubai - Embassy District
500,tuatapere,NZ,-46.1333,167.6833,47,No hotel found
502,illapel,CL,-31.6308,-71.1653,60,Domingo Ortiz de Rosas
509,asfi,MA,32.2994,-9.2372,53,Golden Tulip Farah Safi

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [88]:
%%capture --no-display

# Configure the map plot
ideal_map = hotel_df.hvplot.points(x='Lng', y='Lat', size = "Humidity", geo = True, tiles = "OSM", 
                              hover_cols=["Lng","Lat","City","Humidity","Hotel Name","Country"],
                              frame_width = 800, frame_height = 600, color = "City")

# Display the map
hvplot.show(ideal_map)